*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: Arial;
}

.container{
    width: 85%;
    margin: 20px auto;
}

.clearfix::after{
    content: "";
    clear: both;
    display: table;
}

/* Layout */

.top-photos,
.bottom-photos{
    height: 630px;   
    margin-top: 20px;
}

.left-photo,
.right-photo{
    float: left;
    width: 32%;
    height: 100%;
    position: relative;
}

.center-photo{
    float: left;
    width: 32%;
    height: 100%;
    margin: 0 2%;
    position: relative;
}



.left-photo img{
    width: 100%;
    position: relative;
}


.center-photo img{
    width: 100%;
    position: relative;
}

.right-photo img{
    width: 100%;
    position: relative;

}

.favourites{
    background-color: white;
    position: absolute;
    padding: 5px 10px;
    right: 0px;
    top: 25px;
}

.favourites:hover{
    color: red;
}

.sales{
    position: absolute;
    background-color: #fb035f;
    color: white;
    top: 480px;
    font-size: 12px;
    font-weight: 800;
    padding: 4px;
}

.ecologic{
    position: absolute;
    background-color: #379b5d;
    color: white;
    top: 480px;
    left: 45px;
    font-size: 12px;
    font-weight: 800;
    padding: 4px;
}

.bottom-photos .right-photo .ecologic{
    position: absolute;
    background-color: #379b5d;
    color: white;
    top: 480px;
    left: 0px;
    font-size: 12px;
    font-weight: 800;
    padding: 4px;
}

.brands{
    font-size: 13px;
}
/* / Layout */


/* Debug 

.debug .top-photos,
.debug .bottom-photos{
    height: 630px;   
    margin-top: 20px;
}

/*
.debug .left-photo{
    float: left;
    width: 32%;
    height: 100%;
    position: relative;
}

.debug .center-photo{
    float: left;
    width: 32%;
    height: 100%;
    margin: 0 2%;
    position: relative;
}

.debug .right-photo{
    float: left;
    width: 32%;
    height: 100%;
    position: relative;
}

/*
.debug .left-photo img,
.debug .center-photo img, 
.debug .right-photo img{
    width: 100%;
    position: relative;
}

/*
.debug .favourites{
    background-color: white;
    position: absolute;
    padding: 5px 10px;
    right: 0px;
    top: 25px;
}
/*
.debug .sales{
    position: absolute;
    background-color: #fb035f;
    color: white;
    top: 480px;
    font-size: 12px;
    font-weight: 800;
    padding: 4px; 
}

/*
.debug .ecologic{
    position: absolute;
    background-color: #379b5d;
    color: white;
    top: 480px;
    left: 45px;
    font-size: 12px;
    font-weight: 800;
    padding: 4px;
}



/* / Debug */